extends layout

block content
    div.presentation
        img(src="/assets/img/AnoukProfile.jpg")
        h2 Anouk Jodry
        p.job="Chef de Projet chez "
            a(href='https://subforce-solutions.com/fr' target="blank") SubForce
        p.study Apprentie Codeuse