extends layout

block content
    div.article
        img(src="/assets/img/PlazaRealBarcelona.jpg")
        h2 Premier post : Plaza Real !
        p Une des plus jolies places de Barcelone, bordée d'arches et de terrasses pour prendre un verre les soirs d'été.
            br 
            span 4 novembre 2017