extends layout

block content
    div.article
        img(src="/assets/img/plazareal.jpg")
        h2 Premier post : Plaza Real
        p Une des plus jolies places de Barcelone, bordée d'arches et de terrasses pour prendre un verre les soirs d'été.
            br 
            span 4 novembre 2017
    div.article
        img(src="/assets/img/catedral.jpg")
        h2 Bleu Barcelona : Catedral de la Santa Cruz
        p Quel que soit le point de vue, Barcelone est toujours cerné d'un bleu éclatant. Bleu bonheur ?
            br
            span 21 novembre 2017
    div.article
        img(src="/assets/img/playa.jpg")
        h2 Take me back : l'été
        p Malgré le soleil et la chaleur écrasants, la plage est toujours une bonne idée.
            br
            span 29 novembre 2017