extends layout

block content
    div.article
        img(src="/assets/img/plazareal.jpg")
        h2 Premier post : Plaza Real
        p Une des plus jolies places de Barcelone, bordée d'arches et de terrasses pour prendre un verre les soirs d'été.
            br 
            span 4 novembre 2017
    div.article
        img(src="/assets/img/catedralazul2.jpg")
        h2 Bleu Barcelona : Catedral de la Santa Cruz
        p Quel que soit le point de vue, Barcelone est toujours cerné d'un bleu éclatant. Bleu bonheur ?
            br
            span 21 novembre 2017