extends layout

block content
    div.article
        img(src="/assets/img/post1.jpg")
        h2 Premier post : Le blog de Pimprenelle est enfin lancé !
        p Pimprenelle est contente de vous présenter son nouveau blog.
            br 
            span 4 novembre 2017