doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Blog - Les meilleures adresses de Barcelone
        link(type='image/x-icon' href='/assets/img/favicon.ico')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' rel='stylesheet')
        link(href='/assets/css/main.css?v=1.0' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet")
        block css
    body
        include header
        h1  
            span.border La Musa
        div.center-content
            ul.menu
                lo.menu-item
                    a(href='/')
                        div.menu-link Home
                lo.menu-item
                    a(href='/about')
                        div.menu-link Qui suis-je?
                lo.menu-item
                    a(href='mailto:customers@subforce-solutions.com?Subject=Hello%20Anouk')
                        div.menu-link Contact
            block content
            
        include footer
            div.container-footer
                .row 
                    .col-6
                        img(src="/assets/img/prglab.jpg")
                    .col-6
                        h3 Launched and hosted thanks to:
                        img(src='/assets/img/logo.png')

        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
        block javascript