html,
body {
  height: 100%;
  padding: 0;
  background-color: #ffffff; }

h1 {
  text-align: center; }

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  text-align: center;
  color: #67858e;
  margin: 50px 0; }

h3 {
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
  text-align: center;
  color: #0089b1;
  margin: 50px 0; }

.center-content {
  text-align: center;
  width: 100%; }
  .center-content .menu {
    width: 70%;
    display: inline-flex;
    margin-bottom: 20px; }
    @media screen and (max-width: 500px) {
      .center-content .menu {
        display: block;
        margin: 35px; } }
    .center-content .menu .menu-item {
      width: 30%;
      height: 3rem;
      background-color: #67858e;
      border: 4px solid #67858e;
      margin: 0 1.5%;
      border-radius: .5rem; }
      @media screen and (max-width: 500px) {
        .center-content .menu .menu-item {
          display: block;
          width: 100%;
          margin: 10px 0; } }
      .center-content .menu .menu-item:hover {
        border-color: #0089b1; }
      .center-content .menu .menu-item:active {
        background-color: #0089b1; }
      .center-content .menu .menu-item a:hover {
        text-decoration: none; }
      .center-content .menu .menu-item a:visited {
        text-decoration: none; }
      .center-content .menu .menu-item a .menu-link {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 7px; }
  .center-content .article img {
    width: 45%;
    padding: 20px; }
    @media screen and (max-width: 500px) {
      .center-content .article img {
        width: 100%; } }
  .center-content .article span {
    font-style: italic;
    font-size: 12px;
    color: grey; }
  .center-content .presentation img {
    border-radius: 20rem;
    padding: 20px;
    width: 350px; }
  .center-content .presentation .study {
    font-style: italic;
    font-size: 14px;
    color: grey; }
  .center-content .presentation .info {
    font-size: 20px;
    color: grey;
    text-align: justify; }

.container-footer {
  align-self: center;
  text-align: center; }
  .container-footer .row {
    width: 100%;
    align-self: center;
    text-align: center; }
  .container-footer img {
    width: 30%; }
  .container-footer h3 {
    font-size: 16px;
    margin-bottom: 20px; }
  @media screen and (max-width: 500px) {
    .container-footer {
      width: 100%;
      display: inline-block; } }
